* {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

body {
	background-color: #2a9d8f;
}

.caja1{
	width: 60%;
	height: 400px;
	margin: auto;
	margin-top: 20px;
	border-radius: 20px;
	background-color: aqua;
	padding: 10px;
}

.contenedor h1 {
	text-align: center;
	margin-bottom: 10px;
}

.caja1 p {
	margin: auto;
	text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.caja1 button {
	width: 150px;
	height: 70px;
	background-color: brown;
	border: 2px solid snow;
	margin-left: 43%;
}

.caja1 button p {
	color: snow;
	margin: auto;
}

.caja1 button:hover {
	background-color: blueviolet;
	border-radius: 15px;
	transition: 0.3s;
}


/*
 la pseudoclase Hover escucha cuando el maouse este sobre
 un elemento es especifico.
 
 Funciona en todos los elementos. 

*/