* {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

body {
	background-color: #2a9d8f;
}

.form {
	width: 50%;
	margin: 90px auto;
	display: block;
	background-color: #f4a261;
	padding: 100px;
}

p, b{
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 30px;
	margin-top: -10px;
}

.form b::first-letter {
	font-size: 50px;
	font-weight: bold;
}

.form b:lang(en) {
	color: black;
}

/*
con Lang nos ayuda a identificar que parte de un texto esta en un idioma 
permitiendo cambiar los estilos del texto en cuestión. 

*/